* {
  font-family: "GFS Didot";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

#hamburger {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

.header .logo {
  height: 3rem;
}

.header-list a {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 2rem;
}

.header-list a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid grey;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.header-list a:hover {
  color: grey;
}

.header a:hover {
  color: grey;
}

.header-list a:hover::after {
  transform: scaleX(1);
}

.header a {
  color: white;
}

footer {
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  height: 10rem;
}

footer .sosmed {
  padding: 1rem;
}

footer .sosmed a {
  color: white;
  margin: 1rem;
}

footer .sosmed a:hover,
footer .navbar2 a:hover {
  color: grey;
}

footer .navbar2 {
  margin-bottom: 1rem;
}
footer .navbar2 a {
  color: white;
  padding: 0.7rem 1rem;
}

footer .copyright p {
  color: white;
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

.content {
  margin-top: 5rem;
}
.image {
  display: flex;
}
.image-items {
  max-width: 50%;
}

.text {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 4rem 0;
}

.text-items {
  width: 100%;
  margin-bottom: 4rem;
}

.text-items h3 {
  margin: 1rem 0;
}

.text-items p {
  margin: 0 25%;
}

/* Tablet */
@media (max-width: 800px) {
  html {
    font-size: 80%;
  }
  #hamburger {
    display: inline-block;
  }

  .header-list {
    position: absolute;
    top: 100%;
    right: -100%;
    background: black;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .header-list.active {
    right: 0;
  }

  .header-list a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header-list a:hover::after {
    transform: scaleX(0.3);
  }

  .header-list #list-home:hover::after {
    transform: scaleX(0.2);
  }

  .header-list a::after {
    transform-origin: 0;
  }
}
